<div class="container" id="products-search">
    <div class="row">
        <form {{action 'search' on='submit'}} class="form-horizontal form-group" method="get" accept-charset="utf-8">
            {{input type="search" placeholder="Buscador de Comidas" value=search_query class="form-control"}}
        </form>
    </div>
</div>