<div class="row">
    <form {{action 'login' on='submit'}}
                class="form-horizontal form-group"
                method="post"
                accept-charset="utf-8"
                id="loginForm"
                role="form">

        <div class="col-xs-6">
            {{input type="text" id="user_name"
                placeholder="Usuario"
                value=username
                class="form-control col-xs-3"}}
            {{input type="password" id="user_password"
                placeholder="Contraseña"
                value=password
                class="form-control col-xs-3"}}
            <button class="submit btn btn-primary" {{action "login"}}>Aceptar</button>
        </div>
    </form>
</div>